nav a{
    color: white !important;
    font-size: 1.2em !important;
}

.headerDiv{
    min-height: 100px;
    text-align: center;
    background-color:white ;
    font-family: "Times New Roman", Times, serif;
}

.headerDivSmall{
    text-align: center;
    background-color: #666;
    margin-top: 2%;
}

#other{
    visibility: hidden;
}
.custLeftDivMD{
    max-height: 400px;
    text-align: left;
    
    margin-top: 1ch;
}

.custCentDivMD{
    min-height: 400px;
    max-height: 600px;
    text-align: left;
    
    margin-top: 1ch;
}

.custRightDivMD{
    max-height: 400px;
    text-align: left;
    /* background-color:; */
    margin-top: 1ch;
}

.fieldset{
    background: url("https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
 p#innerPara{padding:20px ;}
 legend{width:200px;padding:10px 20px;}


.footerDiv{
    min-height: 100px;
    text-align: left;
    background-color: rgb(72, 72, 73);
    margin-top: 2%;
    margin-top: 0ch;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.marks {
    display: inline-flex;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .marks:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  #warning{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    

}

#popup{
    color:black;
    width:400px;
    height: 300px;
    background: blue;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#content1{

    
    position: relative;

    padding: 8px;
    

}

#content2{
    position: relative;
    padding: 8px;
    display: none;
}

#content3{
    position: relative;

    padding: 8px;
    display: none;
}

#contentRej{
    position: relative;

    padding: 8px;
    display: none;
}


#content4{
    position: relative;
    padding: 8px;
    display: none;


}






.timeline {
	list-style-type: none;
	display: flex;
    align-items: center;
    width: 100%;
}

.li {
    transition: all 200ms ease-in;
   
}

.timestamp {
	margin-bottom: 20px;
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	font-weight: 100;
}

.timestamp p {

    font-size: 25px;
    font-weight: 600;
}

.status {
	padding: 0px 40px;
	display: flex;
	justify-content: center;
	border-top:  solid #D6DCE0;
	position: relative;
	transition: all 200ms ease-in;
}

.status span {
    font-weight: 600;
    margin: 3px;
    font-size: x-large;
}

.status:before {
	content: '';
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 25px;
	border: 1px solid #ddd;
	position: absolute;
	top: -15px;
	left: 42%;
	transition: all 200ms ease-in;
}

.li.complete .status {
	border-top:  solid #008000;
}

.li.complete .timestamp p{
    color:  #008000;
}

.li.complete .status:before {
	background-color:  #008000;
	border: none;
	transition: all 200ms ease-in;
}

.li.complete .status span {
	color: #008000;
}

/* @media (min-device-width: 320px) and (max-device-width: 700px) {
	.timeline {
		list-style-type: none;
		display: block;
	}

	.li {
		transition: all 200ms ease-in;
		display: flex;
		width: inherit;
	}

	.timestamp {
		width: 100px;
	}

	.status:before {
		left: -8%;
		top: 30%;
		transition: all 200ms ease-in;
	}
} */


.li.inactive .status {
	border-top:  solid #909090;
}

.li.inactive .status:before {
	background-color: #909090;;
	border: none;
	transition: all 200ms ease-in;
}

.li.inactive .status span {
	color: #909090;
}

.li.inactive .timestamp p{
    color: #909090;
}

.contentLabel{

    font-size: large;
    display: block;


}

.li.reject .status {
	border-top:  solid #eb2828;
}

.li.reject .timestamp p{
    color: #eb2828;
}

.li.reject .status:before {
	background-color: #eb2828;
	border: none;
	transition: all 200ms ease-in;
}

.li.reject .status span {
	color: #eb2828;
}
