<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link th:rel="stylesheet" th:href="@{/css/style1.css}" />
<title>Karnataka State Co-operative Federation Ltd. Bengaluru</title>
<link rel="icon" th:href="@{img/logo1.jpg}" type="image/x-icon">
</head>

<body>
	<div class="container-fluid">

		<!--Nav bar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-warning orange">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/index}">Home</a></li>
				</ul>
			</div>
		</nav>

		<div class="row">
			<!-- Start of center-->
			<div id="centerContent" class="col-md-8 custCentDivMD overflow-auto">
				<div class="card text-center">
					<div class="card-header">
						<ul id="mytabs" class="nav nav-tabs card-header-tabs pull-right"
							role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="Admin-tab" href="#Adminlogin">Admin Login</a></li>

						</ul>
					</div>
					<form th:action="@{/admin/login}" class="form-horizontal" role="form"
						method="POST" onkeypress="return disableEnterKey(event)">
						<div class="card-body">
							<div class="tab-content" id="myTabContent"
								style="text-align: left;">
								<div class="tab-pane fade show active" id="Adminlogin"
									role="tabpanel" aria-labelledby="Admin-tab">
									<div id="AdminDetailId">
									
									<h3>Please Sign In</h3>

										<div th:if="${param.error}">
											<div class="alert alert-danger">Invalid Region and
												password.</div>
										</div>
										<div th:if="${param.logout}">
											<div class="alert alert-info">You have been logged out.
											</div>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Select center *</label> <select
												class="custom-select" id="region" name="username">
												<option selected>Choose...</option>
												<option value="Dharwad">Dharwad</option>
												<option value="Madikeri">Madikeri</option>
												<option value="Mysuru">Mysuru</option>
												<option value="Kalaburgi">Kalaburgi</option>
												<option value="Bengaluru">Bengaluru</option>
												<option value="Shivamogga">Shivamogga</option>
												<option value="Moodbidri">Moodbidri</option>
												<option value="Belagavi">Belagavi</option>
											</select> <span id="e_poc"></span>
										</div>

										<div class="form-group">
											<label>Password *</label> <input type="password"
												id="password" name="password" class="form-control"
												placeholder="Admin password">
										</div>
										<button type="submit" class="btn btn-primary">Submit
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal successModal -->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
		aria-labelledby="successModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Action Completed with Error(s)</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="successModalLabel"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="successOk">Ok</button>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/supporters.js}" crossorigin="anonymous"></script>

	<script th:inline="javascript">
/*<![CDATA[*/

let adminLoginStatus = [[${error}]]	
if(adminLoginStatus) {
	let message = "Password/Region are incorrect";
	successDialog(message, function(){
	});
}
function successDialog(message, onConfirm){
 	    var fClose = function(){
 			  modal.modal("hide");
 	    };
 	    var modal = $("#successModal");
 	    modal.modal("show");
 	    $("#successModalLabel").html(message);
 	    $("#successOk").unbind().one('click', onConfirm).one('click', fClose);
}
     

/*]]>*/
</script>

</body>
</html>
</html>