<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/style1.css}"
	crossorigin="anonymous" />
<title>Karnataka State co-operative Federation Ltd.</title>
<link rel="icon" th:href="@{img/logo1.jpg}" type="image/x-icon">
</head>

<body>
	<div class="container-fluid">
		<!--header and Nav bar here-->
		<div id="headerId"></div>
		<div class="row">
			<!--Left panel-->
			<div class="col-md-2 custLeftDivMD">
				<fieldset class="border">
					<legend class='text-left'>Downloads</legend>
					<div id="leftId"></div>
				</fieldset>
			</div>

			<div class="col-md-8 custCentDivMD overflow-auto">
    <div id="genraInfo">
    <fieldset class="border" >
      <legend class ='text-left'>Contact Us</legend>
      <p id="innerPara">
        <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
                Karnataka State Co-operative Federation Ltd.,
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                #32,3rd Floor, D Devaraj Urs road(Race course road),Bengaluru-560001<br>
                Ph: 080-22268018/19 <br>Email-kscfltd@gmail.com 
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Dharwad
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>
                Dr. D.G Shetty Education Society, Near KMF, Lakkamanahalli, Dharwad-580004, Ph: 0836-2773349                
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Madikeri
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Abbi Falls Road, Madikeri-571201, Ph: 0827-2228437

              </li>
            </ul>
          </div>
            <br>
          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Mysore
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Chamaraja Jodi Road, Mysore-570004, Ph: 0821-2520563
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Kalaburgi
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Sedam Road, Near Tholnak, Adarshanagar, Kalaburgi-5, Ph: 0847-2245340
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Bangalore
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Sahakara Bhavana, Bangalore City Co-Operative Union Building, 
                1/3, 2nd Floor, 3rd Main, Chamarajpet, Bangalore-560018, 
                Ph: 080-26602046
                
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Shivamoga
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Vinobhanagar, 2nd Stage, Shivamoga-577204, Ph: 0818-2248873
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Moodabidri 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>Laadi, Moodabidri-577427, Ph: 08258-236561
              </li>
            </ul>
          </div>

          <div class="col-md-4 card" style="width: 18rem; margin-left: 10px; margin-right: 10px; margin-top: 10px; ">
            <div class="card-header">
              Belagavi 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Principal,<br>C.T.S No. 4371, Kanbargi Road, 2nd Cross, Ramathirtha Nagar, (Behind Karnataka State Cricket Stadium) Belagavi-590016, Ph: 0831-2950026
              </li>
            </ul>
          </div>
     </p>
</fieldset>
</div>
</div>
	<div class="col-md-2 custRightDivMD">
				<fieldset class="border">
					<legend class='text-left'>Help Line</legend>
					<div id="rightId"></div>
				</fieldset>
			</div>
		</div>
		<!-- footer here-->
		<div id="footerId"></div>
</div>
</body>
<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/validation.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/supporters.js}" crossorigin="anonymous"></script></html>
</html>