<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/style1.css}"
	crossorigin="anonymous" />
<title>Karnataka Govt Application</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 d-none d-sm-none d-md-block headerDiv">
				<img src="img/logo1.jpg">
				<p class="font-weight-normal"
					style="font-size: 8ch; text-align: center;">Karnataka State
					co-operative Federation Ltd.,</p>
				<p
					style="text-align: center; font-size: medium; color: rgb(121, 171, 236);">
					Diploma in Co-operative Management (Distance Education)</p>
			</div>
		</div>

		<!--Nav bar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-warning orange">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav"></div>
		</nav>

		<h3>Error Occurred : <br><span th:text ="${error}"></span></h3>
		<a href="/">Go Home</a>
	</div>

	<script th:src="@{/js/jquery-3.5.1.slim.min.js}"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
</body>
</html>