<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous" >
<link th:rel="stylesheet" th:href="@{/css/style1.css}" crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/yearpicker.css}" crossorigin="anonymous" />
<title>Karnataka State Co-operative Federation Ltd. Bengaluru</title>
<link rel="icon" th:href="@{img/logo1.jpg}" type="image/x-icon">
</head>

<body>
	
	<div class="container-fluid">
		<!--header and Nav bar here-->
		<div id="headerId"></div>
		<div class="row">
			<!--Left panel-->
			<div class="col-md-2 custLeftDivMD">
				<fieldset class="border">
					<legend class='text-left'>Downloads</legend>
					<div id="leftId"></div>
				</fieldset>
			</div>
			
			<!-- Start of center-->
			<div id="centerContent" class="col-md-8 custCentDivMD overflow-auto">
				<div class="card text-center">
					<div class="card-header">
						<ul id="mytabs" class="nav nav-tabs card-header-tabs pull-right"
							role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="personal-tab" href="#personal">Personal Details</a></li>

							<li class="nav-item"><a class="nav-link " id="academic-tab"
								href="#academic">Academic Qualification</a></li>

							<li class="nav-item"><a class="nav-link "
								id="professional-tab" href="#professional">Professional
									Details</a></li>
							<li class="nav-item"><a class="nav-link " id="upload-tab"
								href="#upload">Upload Section</a></li>

							<li class="nav-item"><a class="nav-link "
								id="declaration-tab" href="#declaration">Declaration</a></li>

						</ul>
					</div>
					<form th:action="@{/save}" class="form-horizontal" role="form"
						method="POST" enctype="multipart/form-data" onkeypress="return disableEnterKey(event)">
						<div class="card-body">
							<div class="tab-content" id="myTabContent"
								style="text-align: left;">
								<div class="tab-pane fade show active" id="personal"
									role="tabpanel" aria-labelledby="personal-tab">
									<div id="personDetailId">
										<div class="form-group">
											<label>Mobile Number/ಮೊಬೈಲ್ ನಂಬರ್*</label> 
												<div class="form-group row">
													<label class="col-sm-1 col-form-label">+91</label>  
													<div class="col-sm-11">

															<input
														type="text" id="mobile_number" name="mobile"
														class="form-control" onchange="validateMobile()"
														placeholder="Mobile Number/ಮೊಬೈಲ್ ನಂಬರ್"  />
													</div>
														 <small
														class="form-text text-muted">Register per mobile
														number </small> <span id="e_mobile"></span>
												</div>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Preference of center
												</label> <select class="custom-select" id="poc" name="preOfCenter">
												<option selected>Choose...</option>
												<option value="Dharwad">Dharwad</option>
												<option value="Madikeri">Madikeri</option>
												<option value="Mysuru">Mysuru</option>
												<option value="Kalaburgi">Kalaburgi</option>
												<option value="Bengaluru">Bengaluru</option>
												<option value="Shivamogga">Shivamogga</option>
												<option value="Moodbidri">Moodbidri</option>
												<option value="Belagavi">Belagavi</option>
											</select> <span id="e_poc"></span>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Name of the
												candidate/ಅರ್ಜಿದಾರರ ಹೆಸರು*</label> <input type="text" name="name"
												id="name" class="form-control"
												placeholder="Name of the candidate/ಅರ್ಜಿದಾರರ ಹೆಸರು" /> <span
												id="e_name"></span>
										</div>
										<div class="form-group">
											<label> Father's Name/ ತಂದೆಯ ಹೆಸರು *</label> <input
												type="text" name="fatherName" id="father_name"
												class="form-control" placeholder="Father's Name/ತಂದೆಯ ಹೆಸರು" />
											<span id="e_father"></span>
										</div>
										<div class="form-group">
											<label>Mother's Name/ ತಾಯಿಯ ಹೆಸರು</label> <input type="text"
												name="motherName" id="mother_name" class="form-control"
												placeholder="Mother's Name/ತಾಯಿಯ ಹೆಸರು" /> <span
												id="e_mother"></span>
										</div>
										<div class="form-group">
											<label>Gender *</label> <select name="Gender" id="sex"
												class="custom-select" placeholder="Gender">
												<!-- <option selected value="">Gender</option> -->
												<option value="M">Male</option>
												<option value="F">Female</option>
												<option value="T">Transgender</option>
											</select> <span id="e_sex"></span>
										</div>
										<div class="form-group">
											<label>D.O.B/ಹುಟ್ಟಿದ ದಿನ *</label> <input type="date"
												id="dob" name="dob" class="form-control"
												pattern="yyyy-MM-dd" onchange="ageCal()" min="1960-01-01"
												max="2005-12-31"> <span id="e_dob"></span>
										</div>
										<div class="form-group">
											<label>Age/ವಯಸ್ಸು *</label> <input type="number" id="age"
												name="age" class="form-control" placeholder="Age/ವಯಸ್ಸು"
												readonly> <span id="e_age"></span>
										</div>
										<div class="form-group">
											<label>Religion/ಧರ್ಮ *</label> <input type="text"
												id="religion" name="religion" class="form-control"
												placeholder="Religion/ಧರ್ಮ"> <span id="e_religion"></span>
										</div>
										
										<div class="form-group">
											<label>Caste/ಜಾತಿ *</label> <select name="caste" id="caste"
												class="form-control" onchange="changestatus()" placeholder="Caste">
											   <!-- <option selected value="">Cast/ಜಾತಿ</option> -->
												<option value="GM">GM</option>
												<option value="SC">SC</option>
												<option value="ST">ST</option>
												<option value="O">Others</option>
											</select> <input type="text" id="other" name="other"
												class="form-control" placeholder="Enter Other caste">
											<span id="e_caste"></span>
										</div>
										<div class="form-group">
											<label>Nationality/ರಾಷ್ಟ್ರೀಯತೆ * </label> <input type="text"
												id="nationality" name="nationality" class="form-control"
												placeholder="Nationality/ರಾಷ್ಟ್ರೀಯತೆ"> <span
												id="e_nationality"></span>
										</div>
										<div class="form-group">
											<label>Residential Address/ವಾಸಸ್ಥಳದ ವಿಳಾಸ *</label>
											<textarea id="address" name="resAddress" rows="3"
												class="form-control"   maxlength="255"  placeholder="address/ವಿಳಾಸ"></textarea>
											<span id="e_address"></span>
										</div>
										<div class="form-group">
											<label>Pincode/ಅಂಚೆ *</label> <input type="text" id="pincode"
												name="pincode" class="form-control"
												placeholder="pincode/ಅಂಚೆ"> <span id="e_pincode"></span>
										</div>
										<div class="form-group">
											<label>E-Mail Address/ಇಮೇಲ್ ವಿಳಾಸ *</label> <input
												type="email" id="email" name="email" maxlength="150" class="form-control"
												placeholder="E-Mail/ಇಮೇಲ್ ವಿಳಾಸ"> <span
												id="e_email"  ></span>
										</div>


										<button type="button" id="changetabbutton1"
											class="btn btn-primary ">Continue</button>

									</div>
								</div>
								<div class="tab-pane fade " id="academic" role="tabpanel"
									aria-labelledby="academic-tab">
									<div class="form-group">
										<h3>Class 10th/SSLC/ಎಸ್.ಎಸ್.ಎಲ್.ಸಿ</h3>
									</div>
									<div class="form-group">
										<label>Name of Institution/ Board/ University</label> <input
											type="text" id="sslc_institution" name="sslcInstitution"
											class="form-control"
											placeholder="Name of Institution/ Board/ University"
											autofocus> <span id="e_sslc_institution"></span>
									</div>
									<div class="form-group">
										<label>Passing Year</label> 
										<input type="text" name="sslcPassingYearMonth" id="sslc_pass" class="form-control" placeholder="Passing Year">
										<span id="e_sslc_pass"></span>
									</div>
									<div class="form-group">
										<label>Marks</label>
										<input type="text" id="sslc_marks" name="sslcMarks" class="marks" placeholder="Obtained Marks">
										<label>/</label>
										<input type="text" id="sslc_totalmarks"  name="sslcTotalMarks" class="marks" placeholder="Total Marks">									
										<span id="e_sslc_marks"></span>
									</div>
									<div class="form-group">
										<label>Percentage(%) of Marks</label> <input type="text"
											id="sslc_percentage" name="sslcPercentage"
											class="form-control" placeholder="Percentage(%) of Marks" readonly>
										<span id="e_sslc_percentage"></span>
									</div>
									<div class="form-group">
										<label>Upload MarksCard/Certificate</label> <input
											type="file" id="sslc_certificate" name="sslcFile"
											class="form-control" accept="application/pdf"
											onchange="ValidateSize(this)"> <span
											id="e_sslc_certificate"></span>
									</div>
									<div class="form-group">
										<h3>PUC or Diploma/ಪಿಯು ಅಥವಾ ಡಿಪ್ಲೊಮಾ</h3>
									</div>
									<div class="form-group">
										<label>Name of Institution/ Board/ University</label> <input
											type="text" id="puc_institution" name="pucInstitution"
											class="form-control" placeholder="Name of Institution/ Board/ University">
									</div>
									<div class="form-group">
										<label>Passing Year</label> <input type="text"
											name="pucPassingYearMonth" id="puc_pass" class="form-control"
											placeholder="Passing Year">
									</div>
									<span id="e_puc_pass"></span>
									<div class="form-group">
										<label>Marks</label> 
										<input type="text" id="puc_marks" name="pucMarks" class="marks" placeholder="Obtained Marks">
									<label>/</label>
									<input type="text" id="puc_totalmarks"  name="pucTotalMarks" class="marks" placeholder="Total Marks">
									<label>(Obtained/Total)</label>
									</div>
									<div class="form-group">
										<label>Percentage(%) of Marks</label> <input type="text"
											id="puc_percentage" name="pucPercentage" class="form-control"
											placeholder="Percentage(%) of Marks" readonly>
									</div>
									<div class="form-group">
										<label>MarksCard/Certificate</label> <input type="file"
											id="puc_certificate" name="pucFile" class="form-control"
											accept="application/pdf" onchange="ValidateSize(this)">
										<span id="e_puc_certificate"></span>
									</div>
									<div class="form-group">
										<h3>Under Graduation/ಪದವಿ</h3>
									</div>
									<div class="form-group">
										<label>Name of Degree</label> <input
											type="text" id="ug_institution" name="ugInstitution"
											class="form-control"
											placeholder="Name of Institution/ Board/ University">
									</div>
									<div class="form-group">
										<label>Passing Year</label> <input type="text"
											name="ugPassingYearMonth" id="ug_pass" class="form-control yearpicker"
											placeholder="Passing Year">
											<span id="e_ug_pass"></span>
									</div>
									<div class="form-group">
										<label>Marks</label> 
										<input type="text" id="ug_marks" name="ugMarks"  class="marks" placeholder="Obtained Marks">
									<label>/</label>
									<input type="text" id="ug_totalmarks"  name="ugTotalMarks" class="marks" placeholder="Total Marks">
									
									</div>
									<div class="form-group">
										<label>Percentage(%) of Marks</label> <input type="text"
											id="ug_percentage" name="ugPercentage" class="form-control"
											placeholder="Percentage(%) of Marks" readonly>
									</div>
									<div class="form-group">
										<label>MarksCard/Certificate</label> <input type="file"
											id="ug_certificate" name="ugFile" class="form-control"
											accept="application/pdf" onchange="ValidateSize(this)">
										<span id="e_ug_certificate"></span>
										
									</div>
									<div class="form-group">
										<h3>Post Graduation/ಸ್ನಾತಕೋತ್ತರ ಪದವಿ</h3>
									</div>
									<div class="form-group">
										<label>Name of Degree </label> <input
											type="text" id="pg_institution" name="pgInstitution"
											class="form-control"
											placeholder="Name of Institution/ Board/ University">
									</div>
									<div class="form-group">
										<label>Passing Year</label> 
										<input type="text" name="pgPassingYearMonth" id="pg_pass" class="form-control" placeholder="Passing Year">
										<span id="e_pg_pass"></span>
									</div>
									<div class="form-group">
										<label>Marks</label> 
										<input type="text" id="pg_marks" name="pgMarks" class="marks"  placeholder="Obtained Marks">
									<label>/</label>
									<input type="text" id="pg_totalmarks"  name="pgTotalMarks" class="marks"  placeholder="Total Marks">
									</div>
									<div class="form-group">
										<label>Percentage(%) of Marks</label> <input type="text"
											id="pg_percentage" name="pgPercentage"
											class="form-control" placeholder="Percentage(%) of Marks" readonly>
									</div>
									<div class="form-group">
										<label>MarksCard/Certificate</label> <input type="file"
											id="pg_certificate" name="pgFile" class="form-control"
											accept="application/pdf" onchange="ValidateSize(this)">
										<span id="e_pg_certificate"></span>
									</div>
									<button type="button" id="changetabbutton6"
										class="btn btn-success ">Prev</button>
									<button type="button" id="changetabbutton2"
										class="btn btn-primary ">continue</button>
								</div>
								<div class="tab-pane fade " id="professional" role="tabpanel"
									aria-labelledby="professional-tab">

									<div class="form-group">
										<label>Name of Deputing Society/ನಿಯೋಜಿಸುವ ಸಂಸ್ಥೆಯ ಹೆಸರು* </label> <input
											type="text" id="deputy_scoiety" name="societyName"
											class="form-control"
											placeholder="Name of Deputy Society/ನಿಯೋಜಿಸುವ ಸಂಸ್ಥೆಯ ಹೆಸರು" >
										 <span id="e_deputy_scoiety"></span>
									</div>
									<div class="form-group">
										<label>Designation/ಹುದ್ದೆ*</label> <input type="text"
											id="designation" name="designation" class="form-control"
											placeholder="Designation/ಹುದ್ದೆ"> <span
											id="e_designation"></span>
									</div>
									<div class="form-group">
										<label>Date of Appointment/ನೇಮಕಾತಿಯ ದಿನಾಂಕ*   </label>
										 <input
											type="date" id="doa" name="doa" class="form-control"
											pattern="yyyy-MM-dd" min="1960-01-01" max="2020-12-31"
											placeholder="Date of Appointment/ನೇಮಕಾತಿ ದಿನಾಂಕ" > <span
											id="e_doa"></span>
									</div>
									<div class="form-group">
										<label>Period Of Service/ಸೇವೆಯ ಅವಧಿ*</label> 
										<input
											type="text" id="period_of_service" name="societyPreOfService"
											class="form-control"
											placeholder="Period Of Service/ಸೇವೆಯ ಅವಧಿ" readonly> 
											<span id="e_period_of_service" ></span>
									</div>
									<div class="form-group">
										<label>Office Address/ಕಛೇರಿ ವಿಳಾಸ*</label>
										<textarea id="office_address" name="societAddress" rows="3"
											placeholder="Office Address/ಕಛೇರಿ ವಿಳಾಸ" class="form-control"  maxlength="255"></textarea>
										<span id="e_office_address"></span>

									</div>
									<div class="form-group">
										<label>Office Phone Number/ಕಛೇರಿ ದೂರವಾಣಿ ಸಂಖ್ಯೆ* </label> <input type="text"
											id="phone_number_office" name="societyTelNumber"
											class="form-control" placeholder="Office Phone Number/ಕಛೇರಿ ದೂರವಾಣಿ ಸಂಖ್ಯೆ">
										<span id="e_phone_number_office"></span>
									</div>
									<div class="form-group">
										<label>Office Pincode/ಕಛೇರಿ ಅಂಚೆ* </label> <input type="text"
											id="pincode_office" name="societyPincode"
											class="form-control" placeholder="Office Pincode/ಕಛೇರಿ ಅಂಚೆ">
										<span id="e_pincode_office"></span>
									</div>
									<button type="button" id="changetabbutton7"
										class="btn btn-success ">Prev</button>
									<button type="button" id="changetabbutton3"
										class="btn btn-primary ">Continue</button>
								</div>
								<div class="tab-pane fade " id="upload" role="tabpanel"
									aria-labelledby="upload-tab">
									
									<div class="form-group">
										<label>Photo*</label> <input type="file" name="photoFile"
											id="photo" class="form-control" accept="image/x-png,image/gif,image/jpeg"
											onchange="ValidateImage(this)"> <span id="e_photo"></span>
									</div>
									
									<div class="form-group">
									<label>Signature*</label> 
									<input type="file" name="signatureFile" id="signature" class="form-control" accept="image/x-png,image/gif,image/jpeg" onchange="ValidateImage(this)"> 
									<span id="e_sig"></span>
									</div>
									
									<div class="form-group">
										<label>Address Proof*</label>
										<label>(Adhar/DL/VoterId/Passport/Ration Card)</label>
										 <input type="file"
											name="addressFile" id="address_proof" class="form-control"
											accept="application/pdf" onchange="ValidateSize(this)">
										<span id="e_address12"></span>
									</div>
									
									<div class="form-group">
									<label>NOC Certificate (Annexure I)*</label> 
									<input type="file" name="nocFile" id="noc_certificate" class="form-control" accept="application/pdf" onchange="ValidateSize(this)"> 
									<span id="e_noc"></span>
									</div>
									
									<div class="form-group">
										<label>Service Certificate (Annexure II)*</label> <input type="file"
											name="certificateFile" id="e_certificate"
											class="form-control" accept="application/pdf"
											onchange="ValidateSize(this)"> <span id="e_empolyee"></span>
									</div>
									
									<button type="button" id="changetabbutton8"
										class="btn btn-success ">Prev</button>
									<button type="button" id="changetabbutton4"
										class="btn btn-primary ">Continue</button>
								</div>
								<div class="tab-pane fade " id="declaration" role="tabpanel"
									aria-labelledby="declaration-tab">
									Declaration
									<div class="form-group">
										<input type="checkbox" class="form-check-input" id="declare"
											name="declarationAccepted"> <label for="declare">I
											here by declare that all the above documents and information
											provided are true</label>
									</div>
									<button type="button" id="changetabbutton9"
										class="btn btn-success ">Prev</button>
									<button type="submit" id="changetabbutton5"
										class="btn btn-primary ">Save</button>
								</div>

							</div>
						</div>
				</div>
				</form>
			</div>

				<div class="col-md-2 custRightDivMD">
				<fieldset class="border">
					<legend class='text-left'>Help Line</legend>
					<div id="rightId"></div>
				</fieldset>
			</div>
		</div>
		<!-- footer here-->
		<div id="footerId"></div>

	</div>
	
	
<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script> 
<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script> 
<script th:src="@{/js/validation.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/inputmask.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/input_validation.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/yearpicker.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/supporters.js}" crossorigin="anonymous"></script>
	<script type="text/javascript">
		
		function validateMobile() {
			let mobileNo = $('#mobile_number').val();
			if (mobileNo) {
				if (/^[1-9][0-9]{9}$/.test(mobileNo) && mobileNo.length == 10) {
					$
							.ajax({
								type : 'POST',
								url : "/validateMobile?mobileNumber="
										+ mobileNo,
								contentType : "application/json; charset=utf-8",
								data : {},
								success : function(result) {
									if (result == '1') {
										$('#e_mobile').hide();
										$('#mobile_number').focus();
										let mblumber = $('#mobile_number').val(); 
										$('#mobile_number').val('');
										initialDisable();
										$('#modalHTml').html(statusHTML);
										let msg = 'Application has been submitted with the mobile number '+mblumber+'. Please check status for update';
										$('#applicantReg').html(msg);
										$('#applicationStatus').modal('show');
									} else {
										$("#personal :input").each(function() {
											$(this).prop('disabled', false);
										});
									}
								}
							});
					document.getElementById('e_mobile').innerHTML = "";
				} else {
					
					$('#mobile_number').focus();
					$('#mobile_number').val('');
					document.getElementById('e_mobile').innerHTML = "**Enter a valid Mobile Number";
					document.getElementById('e_mobile').style.color = 'red';
					
				}
			}
		}

		function initialDisable() {
			$("#personal :input").each(function() {
				$(this).prop('disabled', true);
			});
			$('#mobile_number').prop('disabled', false);
		}
		initialDisable();
	</script>
	
	<script type="text/javascript"> 
    let statusHTML = `<div class="modal fade right" id="applicationStatus" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="false">
		<div
			class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
			role="document">
			<!--Content-->
			<div class="modal-content">
				<!--Header-->
				<div class="modal-header">
					<p class="heading" style="padding-left: 10%;">
					<h2>Already Registered.!!!</h2>
					</p>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true" class="white-text">&times;</span>
					</button>
				</div>

				<!--Body-->
				<div class="modal-body">

					<div class="row">
						<div class="col-3">
							<p></p>
							<p class="text-center">
								<i class="fas fa-shopping-cart fa-4x"></i>
							</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span
								id="applicantReg"></span>
							</li>
						</ul>
						<div></div>
					</div>
				</div>

				<!--Footer-->
				<div class="modal-footer justify-content-center">
					<!-- <a type="button" class="btn btn-info" href="form.html">Proceed</a>   -->
					<h3>Help Line</h3>
					<ul>
						<li><small>Phone no: +91 8892075276,+91
								8660193339</small></li>
						<li><small>E-mail: apitotechnologies@gmail.com</small></li>
					</ul>
					<br> <a type="button"
						class="btn btn-outline-info waves-effect"
						data-dismiss="modal" href="#">Cancel</a>
				</div>
			</div>

		</div>`;

</script>

</body>

</html>
