<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/style1.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/yearpicker.css}"
	crossorigin="anonymous" />
<title>Karnataka State co-operative Federation Ltd.</title>
<link rel="icon" th:href="@{img/logo1.jpg}" type="image/x-icon">
</head>
<body>
	<div class="container-fluid">
		<!--header and Nav bar here-->
		<div id="headerId"></div>
		<div class="row">
			<!--Left panel-->
			<div class="col-md-2 custLeftDivMD">
				<fieldset class="border">
					<legend class='text-left'>Downloads</legend>
					<div id="leftId"></div>
				</fieldset>
			</div>
			<div class="col-md-8 custCentDivMD overflow-auto">
				<div id="genraInfo">
					<fieldset class="border">
						<legend2 class ='text-left'></legend>
      <p id="innerPara">
        <div class="text-center" style="align:justify"><h2>ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಮಹಾಮಂಡಳ ನಡೆದು ಬಂದ ದಾರಿ</h2></div><br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8 ದಶಕಗಳಷ್ಟು ಹಿಂದೆ ಸಮಾನ ಮನಸ್ಕರ ಕೂಟವೊಂದು ಸಹಕಾರ ತತ್ವ ಪ್ರಚಾರಕ್ಕಾಗಿ ಹಾಗೂ ಸಹಕಾರ ಕ್ಷೇತ್ರದ ಬೆಳವಣಿಗೆಗೆ ಅಗತ್ಯವಾದ ಶಿಕ್ಷಣ ನೀಡುವ ಉದ್ದೇಶದಿಂದ ಸಹಕಾರ ಸಂಸ್ಥೆಯೊಂದನ್ನು ಸ್ಥಾಪಿಸಿದರು. ಸಹಕಾರ ಕ್ಷೇತ್ರದ ಚಟುವಟಿಕೆಗಳಿಗೆ ಪ್ರಚಾರ ನೀಡುವುದು ಇದರ ಧ್ಯೇಯೋದ್ದೇಶವಾಗಿತ್ತು. ಸಮಾನ ಮನಸ್ಕರ ಈ ಪ್ರಯತ್ನದಿಂದ 1924 ಆಗಸ್ಟ್ 27 ರಂದು ಮೈಸೂರು ಪ್ರಾಂತೀಯ ಸಹಕಾರಿ ಸಂಸ್ಥೆಯೊಂದು ಅಸ್ತಿತ್ವಕ್ಕೆ ಬಂದಿತು. ಇದರಿಂದ ಸಹಕಾರಿ ತತ್ವಗಳ ಮತ್ತು ಆಚರಣೆಗಳ ಬೋಧನೆಗೆ, ಶಿಕ್ಷಣ - ತರಬೇತಿ ನೀಡುವುದಕ್ಕೆ, ಪ್ರಚಾರ ಕಾರ್ಯ ಕೈಗೊಳ್ಳುವುದಕ್ಕೆ ಸಹಾಯಕವಾಯಿತು. ಈ ಸಂಸ್ಥೆಯನ್ನು ರಾಜ್ಯ ಪುನರ್ ವಿಂಗಡನಾ ಸಮಯದಲ್ಲಿ ಮೈಸೂರು ರಾಜ್ಯ ಸಹಕಾರ ಯೂನಿಯನ್ ಎಂದು ಪುನರ್ ನಾಮಕರಣ ಮಾಡಲಾಯಿತು. ಹಾಗೆಯೇ 1987 ರಲ್ಲಿ ಸರ್ಕಾರಿ ಆದೇಶದನ್ವಯ 4 ಸಹಕಾರಿ ಸಂಸ್ಥೆಗಳಾದ [(1) ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಯೂನಿಯನ್ ನಿ., ಬೆಂಗಳೂರು (2) ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಭವನ ನಿ., ಬೆಂಗಳೂರು (3) ಕರ್ನಾಟಕ ಸಹಕಾರ ಮುದ್ರಣಾಲಯ ನಿ., ಬೆಂಗಳೂರು ಮತ್ತು (4) ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಪ್ರಕಾಶನ ಮಂದಿರ ನಿ.,  ಬೆಂಗಳೂರು] ಇವುಗಳನ್ನು ಒಗ್ಗೂಡಿಸಿ ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಮಹಾಮಂಡಳ ಎಂದು ತಿದ್ದುಪಡಿಯಾಗಿ,  ದಿನಾಂಕ:22.04.1987 ರಂತೆ ಉಪನಿಯಮಗಳ ತಿದ್ದುಪಡಿಯಾಗಿ ರಚಿತವಾಗಿರುತ್ತದೆ. 
<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ಈ ಸಂಸ್ಥೆಯ ಕಾರ್ಯಚಟುವಟಿಕೆಗಳು ಎಲ್ಲರ ಪ್ರಶಂಸೆಗೆ ಪಾತ್ರವಾಗಿದೆ. ಸಂಸ್ಥೆಯ ರಜತ ಮಹೋತ್ಸವ, ಸುವರ್ಣ ಮಹೋತ್ಸವ ಮತ್ತು ವಜ್ರ ಮಹೋತ್ಸವವನ್ನು ಆಚರಿಸಲಾಗಿದೆ. </p>
  <br><br>

  <h4>&nbsp;&nbsp;<u>ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಮಹಾಮಂಡಳದ ಕಾರ್ಯಚಟುವಟಿಕೆಗಳು</h4><br></u>
  <p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ಸಹಕಾರ ಚಳುವಳಿಯ ಬೆಳವಣಿಗೆಗಾಗಿ ಅಗತ್ಯವಾದ ಶಿಕ್ಷಣ, ತರಬೇತಿ ನೀಡುವುದು ಹಾಗೂ ಸಹಕಾರ ಚಟುವಟಿಕೆಗಳಿಗೆ ವ್ಯಾಪಕ ಪ್ರಚಾರ ನೀಡುವುದು ಮಹಾಮಂಡಳದ ಉದ್ದೇಶವಾಗಿದೆ.
  <br>
<ul>
  <li>
  ಸಹಕಾರ ಶಿಕ್ಷಣದಡಿಯಲ್ಲಿ ಸದಸ್ಯ ಶಿಕ್ಷಣ ಮತ್ತು ಅಭಿವೃದ್ದಿ ಕಾರ್ಯಕ್ರಮವು ಯಶಸ್ವಿಯಾಗಿ ಹಾಗೂ ಪರಿಣಾಮಕಾರಿಯಾಗಿ ರಾಷ್ಟ್ರೀಯ ಸಹಕಾರ ಯೂನಿಯನ್‍ನ ಮಾರ್ಗದರ್ಶನದೊಂದಿಗೆ 1957ರಲ್ಲಿ ಜಾರಿಗೆ ಬಂತು. ಈ ಯೋಜನೆಯಡಿಯಲ್ಲಿ ಸಹಕಾರ ಸಂಘಗಳ ಕಾರ್ಯದಶಿಗಳಿಗೆ, ಸದಸ್ಯರುಗಳಿಗೆ, ಆಡಳಿತ ಮಂಡಳಿ ಸದಸ್ಯರು, ಸಿಬ್ಬಂದಿಗಳಿಗೆ, ಮಹಿಳಾ ಮತ್ತು ಪರಿಶಿಷ್ಟ ಜಾತಿ ಪರಿಶಿಷ್ಟ ಪಂಗಡ ಸದಸ್ಯರುಗಳಿಗೆ ಶಿಕ್ಷಣ ನೀಡುವುದು.
</li>
<li>
ಸಹಕಾರ ಕ್ಷೇತ್ರದಿಂದ ದೂರವೇ ಉಳಿದಿದ್ದ ಮಹಿಳೆಯರನ್ನು ಈ ಕ್ಷೇತ್ರಕ್ಕೆ ತರಲು ಮಹಾಮಂಡಳವು ವಿಶೇಷ ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ನಡೆಸಿದ್ದು, 1966ರಲ್ಲಿ ಪ್ರತ್ಯೇಕವಾಗಿ ಮಹಿಳಾ ವಿಭಾಗವನ್ನು ಆರಂಭಿಸಿ ಸದಸ್ಯ ಶಿಕ್ಷಣವನ್ನು ತೀವ್ರಗೊಳಿಸಿತು.
</li>
<li>
ಮಹಾಮಂಡಳವು ಸಹಕಾರ ಕ್ಷೇತ್ರದ ಸಿಬ್ಬಂದಿಗಳ ತರಬೇತಿಗಾಗಿ 8 ತರಬೇತಿ ಸಂಸ್ಥೆಗಳನ್ನು ಹೊಂದಿದ್ದು, 24 ವಾರಗಳ ಡಿಪ್ಲೋಮಾ ಇನ್ ಕೋ- ಆಪರೇಟಿವ್ ಮ್ಯಾನೇಜ್‍ಮೆಂಟ್ ತರಬೇತಿಯನ್ನು ನೀಡಲಾಗುತ್ತಿದೆ. 
</li>
</ul>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ಕರ್ನಾಟಕ ರಾಜ್ಯ ಸಹಕಾರ ಮಹಾಮಂಡಳ ಕಳೆದ 48 ವರ್ಷಗಳಿಂದ ಸಹಕಾರ ವಾರಪತ್ರಿಕೆಯನ್ನು ಪ್ರಕಟಿಸುತ್ತಿದೆ. ಈ ಪತ್ರಿಕೆಯಲ್ಲಿ ಸಹಕಾರಕ್ಕೆ ಸಂಬಂಧಪಟ್ಟ ಸರ್ಕಾರದ/ರಿಜಿಸ್ಟ್ರಾರ್‍ರವರ ಆದೇಶಗಳು, ಸುತ್ತೋಲೆಗಳು, ಉತ್ತಮ ಸಹಕಾರ ಸಂಘಗಳ ಬಗ್ಗೆ ಪ್ರಗತಿ ಚಿತ್ರಗಳು, ಉತ್ತಮ ಸಹಕಾರಿಗಳ ಜೊತೆಗೆ ಸಂದರ್ಶನ, ಸಂಘ ಸಂಸ್ಥೆಗಳ ಬಗ್ಗೆ ಲೇಖನ, ಸಹಕಾರಿ ಕ್ಷೇತ್ರದ ಸುದ್ದಿಗಳನ್ನು ಪ್ರಕಟಿಸಲಾಗುತ್ತಿದೆ.
</p>
</p>
					</fieldset>
				</div>
			</div>
			<div class="col-md-2 custRightDivMD">
				<fieldset class="border">
					<legend class='text-left'>Help Line</legend>
					<div id="rightId"></div>
				</fieldset>
			</div>
		</div>
		<!-- footer here-->
		<div id="footerId"></div>

	</div>
</body>

<script th:inline="javascript">
/*<![CDATA[*/
	
	 let statusHTML = `<div class="modal fade right" id="failedStatus" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
			data-backdrop="false">
			<div
				class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
				role="document">
				<!--Content-->
				<div class="modal-content">
					<!--Header-->
					<div class="modal-header">
						<p class="heading" style="padding-left: 10%;">
						<h2>Payment Status</h2>
						</p>

						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true" class="white-text">&times;</span>
						</button>
					</div>

					<!--Body-->
					<div class="modal-body">

						<div class="row">
							<div class="col-3">
								<p></p>
								<p class="text-center">
									<i class="fas fa-shopping-cart fa-4x"></i>
								</p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><span
									id="applicantReg">Failure</span>
								</li>
							</ul>
							<div></div>
						</div>
					</div>

					<!--Footer-->
					<div class="modal-footer justify-content-center">
						<!-- <a type="button" class="btn btn-info" href="form.html">Proceed</a>   -->
						<h3>Help Line</h3>
						<ul>
							<li><small>Phone no: +91 8892075276,+91
									8660193339</small></li>
							<li><small>E-mail: apitotechnologies@gmail.com</small></li>
						</ul>
						<br> <a type="button"
							class="btn btn-outline-info waves-effect"
							data-dismiss="modal" href="#">Cancel</a>
					</div>
				</div>

			</div>`;
			
			try {
			let failStatus = [[${failure}]];
				if(failStatus) {
					$('#modalHTml').html(statusHTML);
					$('#failedStatus').modal('show');
				}
				failStatus = null;	
			}catch(e) {
			}
/*]]>*/
</script>

<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/supporters.js}" crossorigin="anonymous"></script>
</html>
