
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/style1.css}"
	crossorigin="anonymous" />
<title>Karnataka State co-operative Federation Ltd.</title>
<link rel="icon" th:href="@{img/logo1.jpg}" type="image/x-icon">
</head>

<body>

	<div class="container-fluid">
		<!--header and Nav bar here-->
		<div id="headerId"></div>
		<div class="row">
			<!--Left panel-->
			<div class="col-md-2 custLeftDivMD">
				<fieldset class="border">
					<legend class='text-left'>Downloads</legend>
					<div id="leftId"></div>
				</fieldset>
			</div>

			<!-- Start of center-->

			<div id="centerContent" class="col-md-8 custCentDivMD overflow-auto">

				<div class="card text-center">
					<div class="card-header">
						<ul class="timeline" id="timeline">
							<li class="li complete" id="form_filling">
								<div class="timestamp">
									<p>Form Filling</p>
								</div>
								<div class="status">
									<span id="stage1">Success</span>
								</div>
							</li>


							<li class="li " id="pay1">
								<div class="timestamp">
									<p>Application Fee</p>
								</div>
								<div class="status">
									<span id="stage2">Pending</span>
								</div>
							</li>

							<li class="li inactive " id="approval">
								<div class="timestamp">
									<p>From Approval</p>
								</div>
								<div class="status">
									<span id="stage3">Pending</span>
								</div>
							</li>

							<li class="li inactive" id="pay2">
								<div class="timestamp">
									<p>Admission Fee</p>

								</div>
								<div class="status">
									<span id="stage4">Pending</span>
								</div>
							</li>

						</ul>
					</div>

					<div class="card-body">
						<div id="content1">

							<label class="contentLabel">Application Number: <span th:text ="${applicantNo}"></label>
							<button type="button" id="payment1" class="btn btn-info" onclick ="triggerPayment1()">Make Payment 1</button>

						</div>

						<div id="content2">
							<label class="contentLabel">Wait for verification process</label>
						</div>

						<div id="contentRej">
							<p id="reasonComment">Reason for Reject</p>
						</div>

						<div id="content3">
							<label class="contentLabel">Application Number : <span th:text ="${applicantNo}"></label>
							<button type="button" id="payment2" class="btn btn-info" onclick ="triggerPayment2()" >Make Payment2
							</button>
						</div>
						<div id="content4">
                  				<label class="contentLabel">Application Number : <span th:text ="${applicantNo}"></label>
                		</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 custRightDivMD">
				<fieldset class="border">
					<legend class='text-left'>Help Line</legend>
					<div id="rightId"></div>
				</fieldset>
			</div>
		</div>
		<!-- footer here-->
		<div id="footerId"></div>

	</div>
	
	<!-- Modal successModal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div id="successModalLabel"></div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="successOk">Ok</button>
      </div>
    </div>
  </div>
</div>
	
	<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/checkout.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/input_validation.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/status_validation.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/supporters.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/validation.js}" crossorigin="anonymous"></script>
	<script th:inline="javascript">
/*<![CDATA[*/

	
	function initialDisable() {
		let status=[[${status}]]
		if(status == "I"){
			payment1complete();
		}else if(status == "A")
		{
			payment1complete();
			acceptcomplete();
		}
		else if(status == "R")
		{
			payment1complete();
			rejectcomplete();
			let comment=[[${comment}]]
			$('#reasonComment').html('Reason For Rejection : '+comment);
			$('#contentRej').show();
		}
		else if(status == "C")
		{
			payment1complete();
			acceptcomplete();
			payment2complete();
		}
	}
	initialDisable();

   /*]]>*/
</script>


<script type="text/javascript">
    function triggerPayment1() {
    	successDialog('0','1', function(){
  		});
	}
    
    function triggerPayment2() {
    	successDialog('0','2', function(){
  		});
	}
    
    function successDialog(errorCode, type,  onConfirm){
 	    var fClose = function(){
 			 modal.modal("hide");
 			 if(errorCode == '0' && type == '1') {
 				prepareFirstPayement();
 			 }else if(errorCode == '0' && type == '2') {
 				prepareSecondPayement();
 			 }
 			 return;
 	    };
 	    var modal = $("#successModal");
 	    modal.modal("show");
 	   	if(errorCode == '0') {
   			$("#messageTitle").html('Important Note!!');
   			let htmlData = '<span> Processing of your payment can take few minutes </span> </br>';
   			htmlData += '<span> Please do not hit back button/Page refresh while making Payment </span> </br>';
   			htmlData += '<span> Please make sure you have proper internet connection and sufficient power/data suppy </span> </br>';
   			htmlData += '<span> On successful transaction of payment, you will be redirected back. </span> </br>';
   			htmlData += '<span> Please Press ok to proceed to payment, close otherwise </span> </br>';
   			$("#successModalLabel").html(htmlData);
   		}else if(errorCode == '1') {
   			$("#messageTitle").html('Failed Transaction!!');
   			$("#successModalLabel").html('Error Occured while making Payment!!! Please contact helpline number(s) for more instruction(s)');
   		}else if(errorCode == '2') {
   			$("#messageTitle").html('Failed Transaction!!');
   			$("#successModalLabel").html('Error Occured while making Payment!!! Please contact helpline number(s) for more instruction(s)');
   		}else {
   			$("#messageTitle").html('Failed Transaction!!');
   			$("#successModalLabel").html('Error Occured while making Payment!!! Please contact helpline number(s) for more instruction(s)');
   		}
 	    $("#successOk").unbind().one('click', onConfirm).one('click', fClose);
     }
    
    function prepareFirstPayement() {
    	$.ajax({
				type : 'POST',
				url : "/pay/makeFirstPayment?applicationNumber="+[[${applicantNo}]],
				contentType : "application/json; charset=utf-8",
				data : {},
				success : function(result) {
					if(result.ERROR == '0'){
						let paymentDetails = result.PaymentDetails;
						makePayment1(paymentDetails);
					}else{
						successDialog('',result.ERROR, function(){
				  		});
					}
				}
			});
    }
    
    function makePayment1(paymentDetails) {
    	let clbackUrl = "/pay/chargePayment1/"+paymentDetails.orderId+"/"+paymentDetails.applicantNumber+"/";
    	 var options = {
    	    "key" : paymentDetails.key,
    	    "amount":paymentDetails.amount, // Example: 2000 paise = INR 20
    	    "name" : paymentDetails.preOfCenter,
    	    "description" : paymentDetails.description,
    	    "image" : "/img/download.png",
    	    "order_id" : paymentDetails.orderId,
			"callback_url" : clbackUrl,
			"redirect" : true,
    	    "prefill" : {
    	    	"name" : paymentDetails.amount, 
    	    	"email" : paymentDetails.email,
    	    	"contact" : paymentDetails.mobile
    	    },
    	    "notes" : {
    	    	"address" : paymentDetails.address,
    	    	"shopping_order_id" : paymentDetails.receiptNo
    	    },
    	    "theme" : {
    	    	"color" : "#15b8f3" // screen color
    	    },
    	    "modal": {
    	    	"ondismiss": function(){
    	    	     window.location.href = '/viewAppStatus?applicantNumber=' + paymentDetails.applicantNumber;
    	    	}
    	    }
    	};
    	var propay = new Razorpay(options);
    	propay.open();
    	return;
    }
    
    function prepareSecondPayement() {
    	$.ajax({
				type : 'POST',
				url : "/pay/makeSecondPayment?applicationNumber="+[[${applicantNo}]],
				contentType : "application/json; charset=utf-8",
				data : {},
				success : function(result) {
					if(result.ERROR == '0'){
						let paymentDetails = result.PaymentDetails;
						makePayment2(paymentDetails);
					}else{
						successDialog('',result.ERROR, function(){
				  		});
					}
				}
			});
    }
    
    function makePayment2(paymentDetails) {
    	let clbackUrl = "/pay/chargePayment2/"+paymentDetails.orderId+"/"+paymentDetails.applicantNumber+"/";
    	 var options = {
    	    "key" : paymentDetails.key,
    	    "amount":paymentDetails.amount, // Example: 2000 paise = INR 20
    	    "name" : paymentDetails.preOfCenter,
    	    "description" : paymentDetails.description,
    	    "image" : "/img/download.png",
    	    "order_id" : paymentDetails.orderId,
			"callback_url" : clbackUrl,
			"redirect" : true,
    	    "prefill" : {
    	    	"name" : paymentDetails.amount, 
    	    	"email" : paymentDetails.email,
    	    	"contact" : paymentDetails.mobile
    	    },
    	    "notes" : {
    	    	"address" : paymentDetails.address,
    	    	"shopping_order_id" : paymentDetails.receiptNo
    	    },
    	    "theme" : {
    	    	"color" : "#15b8f3" // screen color
    	    },
    	    "modal": {
    	    	"ondismiss": function(){
    	    		window.location.href = '/viewAppStatus?applicantNumber=' + paymentDetails.applicantNumber;
    	    	}
    	    }
    	};
    	var propay = new Razorpay(options);
    	propay.open();
    	return;
    }
    
</script>

</body>

</html>
