<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/style1.css}"
	crossorigin="anonymous" />
<link th:rel="stylesheet" th:href="@{/css/yearpicker.css}"
	crossorigin="anonymous" />
<title>Karnataka State co-operative Federation Ltd.</title>
<link rel="icon" th:href="@{img/logo1.jpg}" type="image/x-icon">


</head>

<body>
<span id="modalHTml"></span>
	 <div class="container-fluid">
		<!--header and Nav bar here-->
		<div id="headerId"></div>
		<div class="row">
			<!--Left panel-->
			<div class="col-md-2 custLeftDivMD">
				<fieldset class="border">
					<legend class='text-left'>Downloads</legend>
					<div id="leftId"></div>
				</fieldset>
			</div>


			<div class="col-md-8 custCentDivMD overflow-auto">
				<div id="genraInfo">
					<fieldset class="border">
						<legend class='text-left'>Status</legend>

						<div class="form-group">
							<label>Mobile Number/ಮೊಬೈಲ್ ನಂಬರ್*</label> <input type="text"
								id="mobile_number_verify" name="mobile" class="form-control"
								placeholder="Mobile Number/ಮೊಬೈಲ್ ನಂಬರ್"> 
								<span id="e_mobile_verify"></span>
						</div>
						<div class="form-group">
							<label>Password *</label> <input type="password" id="passStatus"
								name="password" class="form-control"
								placeholder="4 Digit Mobile Number + Year of Birth" pattern="^[0-9]{8}$" maxlength="8">
							<small class="form-text text-muted">Password will be
								combination of last 4 digit of mobile number followed by your
								year of brith. </small>
							<small class="form-text text-muted">(Ex:  Mobile: 999912345 D.O.B: dd/mm/1998  Password= 23451998)</small> <span id="e_password"></span>
						</div>
						<button type="button" id="changetabbutton1"
							onclick="checkStatus1()" class="btn btn-primary ">Check Status</button>
						<br /> <br />
						</fieldset>
						</div>
						</div>

								<div class="col-md-2 custRightDivMD">
				<fieldset class="border">
					<legend class='text-left'>Help Line</legend>
					<div id="rightId"></div>
				</fieldset>
			</div>
		</div>
		<!-- footer here-->
		<div id="footerId"></div>
</div>

<!-- Modal successModal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div id="successModalLabel"></div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="successOk">Ok</button>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
<!-- <script th:src="@{/js/input_validation.js}" crossorigin="anonymous"></script> -->
<script th:src="@{/js/inputmask.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/status_validation.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/supporters.js}" crossorigin="anonymous"></script>
<script type="text/javascript">
    function checkStatus1() {
    	
    	let mobileNo = $('#mobile_number_verify').val();
		let password = $('#passStatus').val();
		if(mobileNo && password){
			 //window.location.href =  "/statusprogress?mobileNumber="+mobileNo+"&password="+password;
			$.ajax({
				type : 'POST',
				url : "/statusprogress?mobileNumber="+mobileNo+"&password="+password,
				contentType : "application/json; charset=utf-8",
				data : {
					
				},
				success : function(result) {
					if(result.ERROR == '0'){
						window.location.href ="/viewAppStatus?applicantNumber=" + result.applicantNumber;
					}else{
						let message = "";
				    	if(result.ERROR == '1'){
				    		message="Invalid Password";
				    	}else if(result.ERROR == '2'){
				    		message = "Invalid Mobile Number";
				    	}
						successDialog(message, function(){
				  		});
					}
					
					
				}
			});

		}else{
			console.log("invalid");
			
		}
		}
    
    function successDialog(message, onConfirm){
 	    var fClose = function(){
 			  modal.modal("hide");
 			 triggerListing();
 	    };
 	    var modal = $("#successModal");
 	    modal.modal("show");
 	    $("#successModalLabel").html(message);
 	    $("#successOk").unbind().one('click', onConfirm).one('click', fClose);
     }
    
</script>

</body>


</html>
